@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
VARIABLE FOR MIXINS BREAKPOINTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*/
$breakpoint-sp:480px;
$breakpoint-tablet:768px;
$breakpoint-table02:640px;
$breakpoint-pc: 1107px;
$breakpoint-sm:320px;

$between-min: 1020px;
$between-max: 1800px;

$base-size: 5;
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
VARIABLE FOR MIXINS WRAPPER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*/
$body-max-width: 718px;
$gutter-sp:10px;
$gutter-pc:20px;


 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 VARIABLE FOR MIXINS _font-line.scss 
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */

 $font-size-base: 16;
 $font-weight-base: 500;
 $line-height-base: 1.75;

  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 VARIABLE FOR MIXINS FONT COLOR
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */

 $colortext-primary:#000000;
 $colortext-secondary:#73280A;
 $colortext01:#FFFFFF;
  /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 VARIABLE FOR FONT FAMILY
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 */
 
$font-family:"KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; 
$font-family02: 'Oswald', sans-serif;