@charset "UTF-8";
@import "../core/**/*";


// html,body,main{
//     scroll-snap-type: y mandatory;
// }

// .p-header,.p-footer,.story,
// .info,.precaution{
//     scroll-snap-align: start;
//     -webkit-overflow-scrolling: touch;
//     overflow: hidden;
// }
.story,.info,.precaution{
    padding:0 !important;
    height:100vh !important;
}

/***
====================================
    STORY SECTION
====================================
***/
.story{
    scroll-snap-align: center !important;
    position:relative;
    z-index:1;
    // padding-top:275px;
    // padding-bottom:280px;
    // @include is-tablet{
    //     padding-top:145px;
    //     padding-bottom:174px;
    // }
    // @include is-sp{
    //     padding-top:145px;
    //     padding-bottom:174px;
    // }
    overflow:hidden;
    &__inner{}
    &__top{
        text-align:center;
    }
    &__bottom{
        p{
            @include font-line(18);
            @include is-tablet02{
                @include font-line(16);
            }
            @include is-sp{
                @include font-line(14);
            }
        }
    }
    &__animate{}

    .story-svg{
        &__top{
            position:absolute;
            left:50%;
            top:7vw;

            @include is-tablet{
                top:120px;
            }

            @include is-sp{
                top:3vw;
            }

        }
        &__bottom{
            position: absolute;
            bottom:7vw;
            right:50%;

            @include is-tablet{
                bottom:120px;
            }

            @include is-sp{
                bottom:3vw;
            }

        }
    }
    
    .storyLines01,
    .storyLines02{
        display:none;
    }
}
/***
====================================
    FOLLOW SECTION
====================================
***/
.follow{
    &__btn{
        position:fixed;
        z-index:99;
        width: 290px;
        bottom:30px;
        right:0;
        align-items: center;

        @include is-pc02{
            width:27%;
        }
        p{
            padding:0 0.5em;
        }
    }
}
.sp-follow{
    width: 100%;
    &__inner{
        z-index: 2;
        position:fixed;
        width: 100%;
        bottom:0;
        height: 12.3vh;
    }
    .box{
        width: 20%;
        background-color:#000;
        align-items: center;
        justify-content: center;
        img{
            padding:0.5em;
        }
    }
    &__btn{
        width:80%;
        align-items: center;
        justify-content: flex-end;
    }
    p{
        padding-right:1em;
    }
}
/***
====================================
    INFO SECTION
====================================
***/
.info{
    position:relative;
    z-index:1;
    padding-bottom:64px !important;
    // @include is-tablet{
    //     padding-bottom:0;
    // }
    // @include is-sp{
    //     padding-bottom:64px;
    // }
    &__inner{}
    &__top{
        text-align: center;
        padding-bottom:10px;
    }
    &__bottom{}
    &__table{
        width: 100%;
    }
    &__group{
        position: relative;
        width: 100%;
        align-items: baseline;
        padding:1em 0;
        @include is-pc02{
            padding:1em 0;
        }
        @include is-pc{
            padding:2em 0;
        }
        &::after{
            content:'';
            position: absolute;
            width:100px;
            bottom:0;
            left:22%;
            border-bottom:1px solid $colortext-secondary;
            @include is-tablet{
                left:50%;
                transform:translateX(-50%);
                width:20vw;
            }
            @include is-sp{
                left:50%;
                transform:translateX(-50%);
                width:20vw;
            }
        }
    }

    &__left{
        width: 18%;
        color:$colortext-secondary;
        font-weight: 700;
        @include font-line(18);

        @include is-tablet{
            @include font-line(16);
        }
        @include is-tablet02{
            width:25%;
        }
        @include is-sp{
            @include font-line(14);
            width:30%;
        }
    }
    &__right{
        width: 72%;
        @include font-line(20);
        
        @include is-tablet{
            @include font-line(16);
        }
        @include is-tablet02{
            width:75%;
        }
        @include is-sp{
            @include font-line(14);
            width:70%;
        }
        span{
            @include font-line(28);

            @include is-tablet{
                @include font-line(20);
            }
            @include is-sp{
                @include font-line(20);
            }
        }
    }


}
/***
====================================
    PRECAUTION SECTION
====================================
***/
.precaution{
    position: relative;
    z-index: 1;
    padding: 55px 0 !important;
    background-color: #111111;
    color: white;
    &__inner{}
    &__top{
        text-align:center;
        h2{
            color: white;
            font-weight: 700;
            @include font-line(22);
            @include is-sp{
            @include font-line(16);
            }
        }
    }
    &__bottom{

        .o1{
            margin-bottom: 30px;
            &__title{
                color: white;
                font-weight: 700;
                @include font-line(16);
            }
            h2{
                color: white;
                margin-left: -10px;
                font-weight: 700;
                letter-spacing: -1px;
                padding-bottom: 10px;
                @include font-line(16);
                @include is-sp{
                    @include font-line(14);
                }
            }
            p{
                white-space: pre-line;
                color: white;
                letter-spacing: -1px;
                @include is-sp{
                    @include font-line(14);
                }
            }

        }
        :last-child{
            margin-bottom: 0;
        }
    }
}