.p-header{
    background:url(../../../../../../public/release/tinified/common/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    position:relative;
    &__inner{
        display:flex;
        align-items:center;
        justify-content: center;
        height:100vh;
    }
    &__img{
        text-align:center;
        width: 100%;
        &--title{
            img{
                width:80%;
                @include is-pc02{
                    width:70%;
                }
                @include is-tablet{
                    width:70%;
                }
                @include is-sp{
                    width:70%;
                }
            }
        }
        &--logo{
            img{
                width:80%;
                @include is-pc02{
                    width:70%;
                }
                @include is-tablet{
                    width:70%;
                }
                @include is-sp{
                    width:70%;
                }
            }
        }
    }
    .hashtag{
        position:absolute;
        top:9vh;
        left:7.2vw;
        p{
            color:$colortext01;
            @include is-sp{
                @include font-line(14);
            }
        }

        @include is-sp{
            top:20px;
        }
    }
    .scroll{
        position:fixed;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
        z-index:0;
    }
}