.c-btn{
    background-color:#621F04;
    padding:1em;
    p{
        color:$colortext01;
        @include font-line(40);
        font-weight: 700;
        @include is-pc02{
            font-size:3vw;
        }
        @include is-sp{
            @include font-line(30);
        }
    }
}

.c-btn2{
    background-color:#B50000;
    padding:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    @include is-sp{
        justify-content: space-around;
    }
    p{
        margin: 0 0.5em;
        color:$colortext01;
        @include font-line(40);
        font-weight: 700;
        @include is-pc02{
            font-size:3vw;
        }
        @include is-sp{
            @include font-line(30);
        }
    }
}