@charset "UTF-8";
@import "../core/**/*";


html{
    scroll-snap-type: y mandatory;
}

section{
    scroll-snap-align: start;
}


.story{
    position:relative;
    z-index:1;
    &__inner{}
    &__top{
        text-align:center;
    }
    &__bottom{
        p{
            @include font-line(18);
        }
    }
}

.info{
    position:relative;
    z-index:1;
    &__inner{}
    &__top{
        text-align: center;
    }
    &__bottom{}
    &__table{}
    &__tr{
        position:relative;
        
    }
    &__td{
        padding:2em 0;
        position:relative;
        @include font-line(20);
        span{
            @include font-line(28);
        }
        &--title{
            color:$colortext-secondary;
            width:100px;
        }
        &::after{
            content:'';
            position: absolute;
            width:100px;
            bottom:0;
            left:20%;
            transform:translateX(-80%);
            border-bottom:1px solid $colortext-secondary;
            @include is-sp{
                left:18vw;
                width:20vw;
            }
        }
    }
}

.precaution{
    position: relative;
    z-index: 1;
    padding: 55px 0;
    background-color: #111111;
    color: white;
    &__inner{}
    &__top{
        text-align:center;
        h2{
            color: white;
            @include font-line(22);
            @include is-sp{
            @include font-line(16);
            }
        }
    }
    &__bottom{

        .o1{
            margin-bottom: 30px;
            &__title{
                color: white;
                font-weight: 700;
                @include font-line(16);
            }
            h2{
                color: white;
                margin-left: -10px;
                font-weight: 700;
                letter-spacing: -1px;
                @include font-line(16);
                @include is-sp{
                    @include font-line(14);
                }
            }
            p{
                white-space: pre-line;
                color: white;
                letter-spacing: -1px;
                @include is-sp{
                    @include font-line(14);
                }
            }

        }
        :last-child{
            margin-bottom: 0;
        }
    }
}