.p-footer{
    background:url(../../public/img/common/bg.png) ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center bottom ;
    position:relative;
    @supports not ( -webkit-touch-callout : none) {
        background-attachment: fixed;
    }
    @supports ( -webkit-touch-callout : none) {
        background-attachment:scroll;
    }
    &__inner{}
    &__top{}
    &__bottom{}
    &__img{
        text-align:center;
        img{
            width:70%;
        }
    }
    .copyright{

        text-align: center;
        p,a{
            color:$colortext01;
            @include font-line(14);

            @include is-sp{
                @include font-line(12);
            }
        }
    }
    .social{
        justify-content: center;
        .instagram,
        .twitter
        {
            padding:0 1em;
            img{
                width:80%
            }
        }
    }
    .hashtag{
        margin-left:7.2vw;
        padding-top:20px;
        p{
            color:$colortext01;
            @include is-sp{
                @include font-line(14);
            }
        }

        @include is-sp{
            margin-left:10px;
            padding-top:10px;
        }
    }
}